@charset "UTF-8";

body {
	margin: 0;
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
}

p {
	margin: 0;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.header {
	display: flex;
	justify-content: space-between;
	background-color: #333;
	align-items: flex-end;
	color: #fff;
	padding: 10px;
	text-align: center;
	flex-shrink: 0;
	height: 120px;
}

.admin-title {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
}

.main-content {
	display: flex;
	flex: 1;
}

.sidebar {
	background-color: #f4f4f4;
	width: 200px;
	padding: 15px;
	flex-shrink: 0;
}

.content {
	background-color: #fff;
	flex: 1;
	padding: 15px;
	height: 100vh;
	overflow-y: auto;
}

.header a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
}

.header a:hover {
	text-decoration: underline;
}

.header-menu {
	display: flex;
	flex-direction: row;
}

.btn-open-modal-alarm, .btn-open-modal-qna, .btn-open-modal-report {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin: 2px;
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header img {
	float: left;
	width: 300px;
	height: 120px;
}

.main-canvas {
	display: flex;
}

ul {
	display: flex;
	flex-direction: column;
	height: 100vh;
	padding: 0;
}

li {
	list-style: none;
	padding: 10px;
	background-color: #dddddd;
	text-align: center;
	align-content: center;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
}

li a {
	text-decoration: none;
}

h2 {
	text-align: center;
}

h1 {
	width: 250px;
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.modal-alarm, .modal-qna, .modal-report {
	position: absolute;
	display: none;
	justify-content: center;
	top: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.close-btn-alarm, .close-btn-qna, .close-btn-report {
	font-family: "Jua", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.modal-body {
	flex-direction: column;
	position: absolute;
	top: 50%;
	width: 500px;
	height: 700px;
	padding: 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateY(-50%);
}

.modal_body-content {
	height: 100%;
}

.footer {
	background-color: orange;
	height: 6rem;
	left: 0;
	right: 0;
	bottom: 0;
	align-content: center;
}

.footer p {
	text-align: center;
}

.statistics-user-box {
	display: flex;
	justify-content: space-around;
}

.number-of-user-box {
	background-color: #FFB700;
	border-radius: 1em;
	padding: 10px;
	margin: 3px;
	width: 15%;
}

.main-canvas {
	display: flex;
	width: 100%;
}

.table {
	border: 1px solid;
}

.advertise {
	border: 1px solid;
}

.m--profile {
	width: 10px;
	height: 10px;
}

.advertise-one-line-box {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
	flex-direction: column;
}

.advertise-one-line-box p{
	display: flex;
	justify-content: center;
}


.advertise-box {
	display: flex;
	margin: 20px;
	padding: 20px;
	width: 300px;
	height: 450px;
	background-color: yellow;
	flex-direction: column;
}

.advertise-img {
	background-color: orange;
	width: 100%;
	height: 70%;
}

.advertise-img img{
	width: 100%;
	height: 100%;
}

.advertise-content {
	background-color: green;
	width: 100%;
	height: 30%;
}

.advertise-list-content{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


